{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="left" style="padding-top: 0;">
    <div id="decorate"
        style="background-color: #efefef; width: 500px; margin-top: 10px; margin-bottom: 10px; border: 0; border-radius: 10px; position: relative;">
        <input type="color" id="fontColor"
            style="width: 50px; height: 50px; margin-left: 25px; padding: 5px; box-sizing: border-box; background-color: rgba(0, 0, 0, 0); border: 0;">
        <button id="fontColorBtn" onclick="setFontColor()"
            style="font-size: large; background-color: rgba(0, 0, 0, 0); border: 0; font-weight: bold;
        position: absolute; top: 50%; left: 115px; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">색 적용</button>
        <span
            style="position: absolute; top: 50%; left: 230px; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
            <button class="zoom" onclick="fontSizeUp();"
                style="background-color: rgba(255, 255, 255, 0.35); border: 0; border-radius: 10px; font-weight: bold;">+</button>
            <b>&nbsp;&nbsp;글자크기&nbsp;&nbsp;</b>
            <button class="zoom fontSizeDown" onclick="fontSizeDown();"
                style="background-color: rgba(255, 255, 255, 0.35); border: 0; border-radius: 10px; font-weight: bold;">-</button>
        </span>
        <button type="button" id="save"
            style="width: 150px;
        background-color: rgba(100, 100, 100, 0.1); border: 0; border-radius: 10px; font-size: large; font-weight: bold;
        position: absolute; top: 50%; left: 400px; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">등록</button>
    </div>
    <div id="div_input_text">
        <input type="text" id="input_text" placeholder="문구를 입력하세요" autofocus onclick="dragElement(this)">
    </div>
</div>

<div id="right">
    <h2 style="text-align: center;">템플릿 선택</h2>
    <form action="POST" style="text-align: center;">
        {% csrf_token %}
        <label>
            <input type="radio" name="image" value="bg1" checked onclick="change_bg(this.value)" />
            <img src="{% static 'images/bg1.jpg' %}" width="250px" />
        </label>
        <label>
            <input type="radio" name="image" value="bg2" onclick="change_bg(this.value)" />
            <img src="{% static 'images/bg2.jpg' %}" width="250px" />
        </label>
        <label>
            <input type="radio" name="image" value="bg3" onclick="change_bg(this.value)" />
            <img src="{% static 'images/bg3.jpg' %}" width="250px" />
        </label>
        <label>
            <input type="radio" name="image" value="bg4" onclick="change_bg(this.value)" />
            <img src="{% static 'images/bg4.jpg' %}" width="250px" />
        </label>
        <label>
            <input type="radio" name="image" value="bg5" onclick="change_bg(this.value)" />
            <img src="{% static 'images/bg5.jpg' %}" width="250px" />
        </label>
    </form>
</div>
{% endblock %}