<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            border: 1px solid black;
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1>아니 이게 머야 ;;;;</h1>
    {% for i in card_list %}
    <div class="container">
        <h3>{{ i.contents }}</h3>
        <h4>{{ i.templates }}</h4>
        <h5>{{ i.date_now }}</h5>
    </div>
        {% endfor %}
</body>
</html>